.html {
  font-family: 'Montserrat'; font-size: 22px;
  color: red;
}

.body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background-color: white;
}

.lastResult {
  color: white;
  padding: 3px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}